* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
}
section {
  min-height: 330px;
  padding: 50px 70px;
}
button {
  background-color: #3882f6;
  color: white;
  padding: 5px 25px;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 20px;
}
ul {
  list-style: none;
  display: flex;
  align-items: left;
  justify-content: space-evenly;
}
ul li {
  margin-left: 10px;
}
a {
  text-decoration: none;
  color: #f9faf8;
}

.headnav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.headnav header {
  font-size: 24px;
}

.s1 {
  background-color: #1f2937;
  color: #f9faf8;
}

.description {
  max-width: 40%;
}
.description h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  margin-bottom: 0;
}
.description p {
  font-size: 18px;
  color: #e5e7eb;
  margin-top: 0;
}
.description button {
  border: none;
}
.main {
  display: flex;
  flex-direction: row;
}
.s2head {
  text-align: center;
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}
.s2main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.s2images {
  width: 150px;
  border: 2px solid #3882f6;
  border-radius: 30px;
  object-fit: cover;
}
figcaption {
  color: #1f2937;
  text-align: center;
  width: 150px;
  height: 75px;
}
#s2orientation {
  height: 154px;
}

.imgPlace {
  background-color: gray;
  min-height: 230px;
  width: 60%;
  margin-top: 10px;
  background-image: url(./src/mainimage.jpg);
  background-size: cover;
}

.flxcent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.s3main {
  background-color: #e5e7eb;
  color: #1f2937;
  font-size: 39px;
  font-weight: 100;
  font-style: italic;
  flex-direction: column;
}

.s3main author {
  align-self: end;
  font-weight: 400;
  font-style: italic;
}

.s4main {
  flex-direction: row;
}
.s4div {
  background-color: #3882f6;
  border: 1px solid #3882f6;
  border-radius: 10px;
  color: white;
  min-width: 750px;
  justify-content: space-evenly;
  padding: 20px;
}

.s4div button {
  border: 2px solid white;
}
.herotext {
  font-size: larger;
  font-weight: bold;
  word-spacing: 0.1rem;
  line-height: 0;
}
.secondtext {
  font-size: small;
  font-weight: lighter;
  margin-top: 0;
}
.main,
.description,
.imgPlace,
.s2main,
.s4div,
.s4div p,
.herotext {
  transition: 150ms all ease-in-out;
}

@media only screen and (max-width: 850px) {
  .main {
    flex-direction: column;
  }
  .description {
    max-width: 100%;
    text-align: center;
  }
  .imgPlace {
    width: 100%;
    margin-top: 25px;
  }

  .s2main {
    flex-wrap: wrap;
  }
  .s4div {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 500px;
    padding: 15px;
    text-align: center;
  }
  .herotext {
    font-size: x-large;
  }
}
